<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Holiday Oh Nice!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen" />
  </head>

  <body>
    <header>
      <h1>Holiday Oh Nice!</h1>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <aside class="flash {{ category }}">
          {{ message }}
        </aside>
      {% endfor %}
    {% endwith %}

    {% if session.person %}
      <aside>
        Connecté en tant que {{ session.person }}
      </aside>
    {% endif %}

    <nav>
      <ul>
        {% if session.person %}
          <li><a href="{{ url_for('add') }}">Ajouter un jour</a></li>
          <li><a href="{{ url_for('days') }}">Liste personnelle</a></li>
          <li><a href="{{ url_for('month') }}">Récapitulatif mensuel</a></li>
          <li><a href="{{ url_for('disconnect') }}">Se déconnecter</a></li>
        {% else %}
          <li><a href="{{ url_for('index') }}">Se connecter</a></li>
        {% endif %}
      </ul>
    </nav>
    
    <main>
      {% block main %}{% endblock main %}
    </main>

    <footer>
      <ul>
        <li><a href="http://community.kozea.org/">A Kozea Project</a></li>
        <li><a href="http://validator.w3.org/check?uri=referer">Optimized for Standards</a></li>
      </ul>
    </footer>
  </body>
</html>
