{% extends '_layout.jinja2' %}

{% block main %}
  {% for slot in slots %} 
    <article>
      <h2>{{ slot.name }}</h2>
      {% if slot.stop %}
        <p>Du {{ slot.start }} au {{ slot.stop }}</p>
      {% else %}
        <p>À partir du {{ slot.start }}</p>
      {% endif %}

      <dl>
        <dt>Disponible</dt><dd>{{ slot.remaining | days }}</dd>
        <dt>Total</dt><dd>{{ slot.parts | days }}</dd>
      </dl>

      <p>Jours pris :</p>

      {% for vacation in slot.vacations %}
        {% if loop.first %}<ul>{% endif %}
        <li>
          {{ vacation.day }} - {{ vacation.part_name }}
          {% if vacation.day > today %}
            <form method="POST" action="{{ url_for('delete', vacation_id=vacation.vacation_id) }}">
              <input type="submit" value="Supprimer" />
            </form>
          {% endif %}
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </article>
  {% endfor %}
{% endblock main %}
