{% extends '_layout.jinja2' %}


{% block main %}
  <label>
    Type
    <select name="slot" class="slot">
      {% for slot in slots %}
        <option value="{{ slot.slot_id }}" data-remaining="{{ slot.remaining / 2 }}">{{ slot.name }}</option>
      {% endfor %}
    </select>
  </label>
  <label>
    Restant: <span class="remaining"></span>
  </label>

  <article class="calendar">
  </article>
{% endblock main %}
